.title {
    background-color: rgba(189, 157, 206, 0.481);
}

.box{
    width: 200px;
    height: 200px
}
.box-color{
    background-color: aqua;
}
.navstyle{
   background-color: tan;
}

.section{
    width: 400px;
    height: 300px;
    background-color: rgba(233, 213, 187, 0.672);
}

#navlist {
    background-color: brown;
}

#about{
 background-color: rgb(177, 133, 31);
}

#portfolio{
    background-color: rgb(141, 113, 49);
}

#contact{
    background-color: rgb(190, 161, 91);
}