body {
    background-color: rgb(87, 74, 125);
}


.title {
    background-color: rgba(189, 157, 206, 0.481);
    line-height: 100px;
}
ls

.navstyle{
   background-color: tan;
}

.section{
    display: block;
    width: 400px;
    height: 300px;
    background-color: rgba(233, 213, 187, 0.672);
    line-height: 50px;
}

li{
    display: inline;
}



/* ID tags */

#navlist {
    font-size: 15px;
    line-height: 50px; 
    background-color: brown;
}

#about{
 background-color: rgb(177, 133, 31);

}

#portfolio{
    background-color: rgb(141, 113, 49);
}

#contact{
    background-color: rgb(190, 161, 91);
}